# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.ipynb_checkpoints
.sass-cache/
.cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# Large files (Datasets que pesen más de 100MB no deben ir a GitHub)
*.csv
*.zip
*.tar.gz
data/
datasets/